{% include 'header.html.twig' %}
    {% if user is defined %}
        Jesteś zalogowany jako: {{user.getName()}} 
        <form action="" method="post">
            <label for="passwordID">Nowe hasło:</label><br>
            <input type="password" name="password" id="passwordID"><br>
            <label for="passwordRepeatID">Powtórz hasło:</label><br>
            <input type="password" name="passwordRepeat" id="passwordRepeatID"><br>
            <input type="submit" value="Zmień hasło">
        </form>
    {% endif %}
{% include 'footer.html.twig' %} 
